ul {
    position: relative;
    list-style: none;
    display: flex;
    gap: 6px;
    align-items: center;
    justify-content: space-between;
    border: 1px none solid;
    border-radius: 4px;
    font-size: 14px;
    width: fit-content;
    padding-left: 16px;
    padding-right: 12px;
}

    ul:focus {
        outline: none;
        color: var(--select-color-active);
        border-color: var(--select-borderColor-active);
    }

    ul:disabled {
        color: var(--select-color-disabled);
        border-color: var(--select-borderColor-disabled);
    }

.medium {
    height: 32px;
}

.large {
    height: 40px;
}

.enabled {
    color: var(--select-color-normal);
    cursor: pointer;
}

    .enabled:hover {
        color: var(--select-color-hover);
        border-color: var(--select-borderColor-hover);
    }

.disabled {
    color: var(--select-color-disabled);
    cursor: not-allowed;
}

    .disabled:hover {
        color: var(--select-color-disabled);
        border-color: var(--select-borderColor-disabled);
    }

.selected {
    display: flex;
    align-items: center;
    gap: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.selectedOption {
    display: flex;
    list-style-position: inside;
    white-space: nowrap;
}

    .selectedOption svg path {
        fill: var(--defaultIconColor)
    }

    .selectedOption div {
        display: none;
    }

.optionList {
    position: absolute;
    top: 100%;
    left: 0;
    max-height: 228px;
    margin-top: 4px;
    background-color: var(--select-backgroundColor-normal);
    border: 1px var(--select-borderColor-normal) solid;
    border-radius: 4px;
    font-size: 14px;
    line-height: 18px;
    color: var(--select-color-normal);
    overflow-y: auto;
    z-index: 10;
    max-width: 300px;
    min-width: 100%;
    align-items: center;
}

    .optionList div {
        white-space: nowrap;
    }

    .optionList::-webkit-scrollbar {
        -webkit-appearance: none;
        width: 7px;
    }

    .optionList::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background-color: var(--select-optionList-scrollbar-backgroundColor);
    }

    .optionList::-webkit-scrollbar:horizontal {
        height: 7px;
    }
