<div>
    <ul class="@ClassName" style="@StyleName">
        <li class="selectedOption">
            <div class="selected">

            </div>
        </li>
        <li>
            @if (ShowOptions)
            {
                <ul>
                    @ChildContent
                </ul>
            }
        </li>
    </ul>
    <DropDownArrowIcon IsOpen="false" />
</div>
