ul {
    position: relative;
    list-style: none;
    display: flex;
    gap: 6px;
    align-items: center;
    justify-content: space-between;
    border: 1px none solid;
    border-radius: 4px;
    font-size: 14px;
    width: fit-content;
    padding-left: 16px;
    padding-right: 12px;
}

    ul:focus {
        outline: none;
        color: var(--select-color-active);
        border-color: var(--select-borderColor-active);
    }

    ul:disabled {
        color: var(--select-color-disabled);
        border-color: var(--select-borderColor-disabled);
    }

.medium {
    height: 32px;
}

.large {
    height: 40px;
}

.enabled {
    color: var(--select-color-normal);
    cursor: pointer;
}

    .enabled:hover {
        color: var(--select-color-hover);
        border-color: var(--select-borderColor-hover);
    }

.disabled {
    color: var(--select-color-disabled);
    cursor: not-allowed;
}

    .disabled:hover {
        color: var(--select-color-disabled);
        border-color: var(--select-borderColor-disabled);
    }