<nav>
    <div class="navbarBrand">
        <div class="navbarBrand">
            <div class="navbarBurger" role="button">
                <span role="separator" />
                <span role="separator" />
                <span role="separator" />
            </div>

            <a href="/">
                <Logo />
                UI for Apache Kafka
            </a>
        </div>
    </div>
</nav>
