<nav>
    <div class="navbarBrand">
        <div class="navbarBrand">
            <div class="navbarBurger" role="button">
                <span role="separator" />
                <span role="separator" />
                <span role="separator" />
            </div>

            <a href="/" class="logoLink">
                <Logo />
                UI for Apache Kafka
            </a>

            <div class="navbarItem">
                <Version />
            </div>
        </div>
    </div>

    <div class="navbarSocial">
        <Select />

        <a href="https://github.com/kafka-spy/kafka-spy" target="_blank" class="socialLink">
            <GitIcon />
        </a>
    </div>
</nav>
