nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--layout-stuffBorderColor);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 30;
    background-color: var(--menu-backgroundColor-normal);
    min-height: 3.25rem;
}

span {
    display: block;
    position: absolute;
    background: var(--menu-color-active);
    height: 1px;
    left: calc(50% - 8px);
    transform-origin: center;
    transition-duration: 86ms;
    transition-property: background-color, opacity, transform, -webkit-transform;
    transition-timing-function: ease-out;
    width: 16px;
}

    span:first-child {
        top: calc(50% - 6px);
    }

    span:nth-child(2) {
        top: calc(50% - 1px);
    }

    span:nth-child(3) {
        top: calc(50% + 4px);
    }

.logoLink {
    position: relative;
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    align-items: center;
    gap: 8px;
    margin: 0;
    padding: 0.5rem 0.75rem;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    color: var(--default-color-normal);
    text-decoration: none;
    word-break: break-word;
    cursor: pointer;
}

    .logoLink:hover {
        color: var(--default-color-normal);
    }

.navbarBrand {
    display: flex;
    justify-content: flex-end;
    align-items: center !important;
    flex-shrink: 0;
    min-height: 3.25rem;
}

.navbarBurger {
    display: block;
    position: relative;
    cursor: pointer;
    height: 3.25rem;
    width: 3.25rem;
    margin: 0;
    padding: 0;
}

    .navbarBurger:hover {
        background-color: var(--menu-backgroundColor-hover);
    }

@media screen and (min-width: 1024px) {
    .navbarBurger {
        display: none;
    }
}

.narbarItem {
    display: flex;
    position: relative;
    flex-grow: 0;
    flex-shrink: 0;
    align-items: center;
    line-height: 1.5;
    padding: 0.5rem 0.75rem;
}

.navbarSocial {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 5px 10px 5px;
}

.socialLink {
    display: block;
    margin-top: 5px;
    cursor: pointer;
    fill: var(--icons-discord-normal);
}

    .socialLink:hover {
        fill: var(--icons-git-hover);
    }
