@inherits LayoutComponentBase

<div id="root">
    <div class="layout">
        <NavBar />

        <main>
            <div class="sidebar">
                <Nav />
            </div>
            @Body
        </main>
    </div>
</div>
